div.row
  div.column
    span#mru
    h4 Recent
      ul.demo-list-two.mdl-list.mdc-list--two-line

        if mrulist === undefined
        - mrulist = []
        each item,index in mrulist
          li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
              i.material-icons.mdl-list__item-avatar sd_storage
              span
                =item.id
              span.mdl-list__item-sub-title
                =item.filename
            span.mdl-list__item-secondary-content
              -var newid = 'demo-menu-lower-left' + index.toString()
              -var classes = ['mdl-button', 'mdl-js-button', 'mdl-button--icon']
              button(class=classes, id=newid)
                i.material-icons more_vert

          ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for=newid)
            li.mdl-menu__item Open
            li.mdl-menu__item Open in new tab
            li.mdl-menu__item.mdl-menu__item--full-bleed-divider Open in new window
            li.mdl-menu__item Remove from Recent list