footer.mdl-mini-footer(style="padding: 10px")
  .mdl-mini-footer__left-section
    .mdl-logo WPC-DASM
    ul.mdl-mini-footer__link-list
      li
        a(href='#') Help
      li
        a(href='#') Privacy Policy
  .mdl-mini-footer__right-section
    ul.mdl-mini-footer__link-list
      li
        | &copy;&nbsp;
        a(href='#') 2020 DesignMind Business Solutions
        | &nbsp;&nbsp;
        img(src='/images/dm-logo.png')
