header.mdl-layout__header
  .mdl-layout__header-row
    // Title
    if (romstate)
      span.mdl-layout-title
        | WPC-DASM:
        =romstate.romname
      sup
        | SIZE:
        =romstate.romsizekb
        |  0x
        =romstate.romsizehex
        br
        =romstate.bankcount
        |  total ROM banks  ($
        =romstate.bankid_first_hex
        | -$
        =romstate.bankid_last_hex
        | )

    // Add spacer, to align navigation to the right
    .mdl-layout-spacer
    // Navigation. We hide it in small screens.
    nav.mdl-navigation.mdl-layout--large-screen-only
      a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Home
      a.mdl-navigation__link.mdl-typography--text-uppercase(href='/about') About
      a.mdl-navigation__link.mdl-typography--text-uppercase(href='/contact') Contact
.mdl-layout__drawer
  span.mdl-layout-title
      | WPC-DASM
  nav.mdl-navigation
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Home
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/about') About
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/contact') Contact
