link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/material.min.js')
script(src='/javascripts/code.js')
script(src='/javascripts/views/mru.js')
script(src='https://cdn.jsdelivr.net/npm/apexcharts')

block footer